@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lobster|Raleway&display=swap');
body{
    margin: 0;
    padding:0;
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}
.container{
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.first{
    margin-left: 8%;
    margin-top: 3%;
    text-align:center;
}
.first h3{
    font-family: 'Lobster', cursive;
}
.first p{
    color: #69520d;
    font-family: 'Lobster', cursive;
}
hr{
    color: gray;
    width: 87%;
    margin: 0 0 0 12px;
    padding:0;
}
.content{
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
}
.content h4{
    padding: 5px;
}
.content h4:hover{
    cursor: pointer;
    color: #69520d;
    font-weight: bold;
}
.first .btn{
    color: #fdcd3b;
    background-color: #69520d;
}
.first .btn:hover{
    cursor: zoom-in;
    color: #ffffff;
}
.second{
    padding: 5px;
    min-height: 500px;
    background-color: #69520d;
}
.second h3{
    margin-left: 40%;
    font-family: 'Lobster', cursive;
    color: #fdcd3b;
}

.task{

}
.task h4{
    text-align: center;
    margin: 3px;
    padding: 5px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-family: 'Indie Flower', cursive;
    background-color: white;
}
#items{
    padding:5px 0 5px 5px;
    color: #ffffff;
}
    
#items a{
    color: #fdcd3b;
}
#items a:hover{
    cursor: pointer;
    color: #ffffff;
}
.modal-content{
    background-color: #8a6d16;
}
input{
    margin-bottom: 5px;
}
.modal-content h5{
    font-family: 'Lobster', cursive;
    color: #ffed4b;
}
.modal-footer .btn{
    background-color: #ffffff;
    border-color: #69520d;
    color: #fdcd3b;
}